<div class="container-fluid secondary-promo-image">

</div>

<div id="submission-form-confirmation">
  <div class="container-fluid background-beige">
    <div class="secondary-page-title">
      <div class="container">
        <p>Submission Confirmation</p>
      </div>
    </div>
  </div>

  <div class="container-fluid pt-3 primary-background">
    <div class="container pb-3">
      <p>Your form is submitted successfully. We will reach out to you as soon as possible.</p>
      <br />
      <p>Thank you for reaching out to us.</p>
    </div>
  </div>
</div>
