<div class="container">
  <div class="main-menu text-center">
    <div class="row">
      <div class="col-12 d-lg-none">
        
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-0-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink='/'>Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="secondary">Seondary Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contactus">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="blogadmin">Admin</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
